.vscode/
__pycache__/

sample_notebooks/

!experiments/baseline
experiments/baseline/*
!experiments/baseline/*.ipynb

!experiments/combined
experiments/combined/*
!experiments/combined/*.ipynb

!experiments/frozen
experiments/frozen/*
!experiments/frozen/*.ipynb

experiments/film_resnet34
experiments/film_s_20k_t_20
experiments/film_s_20k_t_50
experiments/film_s_20k_t_100

interactive.sub
*.pt