.vscode/
__pycache__/

sample_notebooks/

!experiments/baseline
experiments/baseline/*
!experiments/baseline/*.ipynb

!experiments/combined
experiments/combined/*
!experiments/combined/*.ipynb

!experiments/frozen
experiments/frozen/*
!experiments/frozen/*.ipynb

!experiments/film
experiments/film/*
!experiments/film/*.ipynb

interactive.sub
*.pt