.vscode/
.ipynb_checkpoints/
__pycache__/

sample_notebooks/
experiments/old_results/

!experiments/baseline
experiments/baseline/*
!experiments/baseline/*.ipynb

!experiments/combined
experiments/combined/*
!experiments/combined/*.ipynb

!experiments/reverse
experiments/reverse/*
!experiments/reverse/*.ipynb

interactive.sub
*.pt
