[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
numpy = "*"
pandas = "*"
tqdm = "*"
easydict = "*"
sklearn = "*"
matplotlib = "*"
seaborn = "*"
torch = "==1.8.0"
torchvision = "==0.9.0"
pyarrow = "*"
fastparquet = "*"
jupyterlab = "*"
h5py = "*"
umap-learn = "*"

[dev-packages]
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.6"
